@model IEnumerable<coursemanger.Models.coursemanagements>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacherid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacherid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
